* {
    font-family: 'Titillium Web', sans-serif;
}

.row {
    margin-top: 75px;
}

.jobTitle {
    text-align: center;
}

.postJob {
    visibility: hidden;
}

.jobRow {
    margin-bottom: 0px;
}

.applicantRow {
    margin-top: 0px;
}

.numInput {
    width: 100px;
}
